
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        
    </head>
    <body>
        
        <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7">
                <%= image_tag ('new_logo.jpeg'), class: "img-fluid rounded mb-4 mb-lg-0" %></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Lorene Schaeffer Insurance </h1>
                    <p>Licensed broker in Bel Air, Maryland</p>
                    <%= link_to "Contact me Here", pages_contact_path, class: "btn btn-primary" %>
                </div>
            </div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">I am a licensed sales agent and can help you!  We can talk about how Medicare Advantage plans may be able to help you get more benefits than you do with original Mediacare, and you still keep your state Medicaid benefits.</p></div>
            </div>
            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Medicare Advantage</h2>
                            <ul>
                                <li>Used Instead of Original Medicare.</li>
                                <li>Low monthly premiums.</li>
                                <li>Co-pays when receiving treatment.</li>
                                <li>Can only be purchased during annual election, open enrollment periods and lock in periods</li>
                            </ul>
                        
                        </div>
                        <% more_info="More Info" %>
                        <div class="card-footer"><%= link_to more_info , pages_contact_path, class: "btn btn-primary" %></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Medicare Supplement</h2>
                             <ul>
                                <li>Works with original medicare</li>
                                <li>Higher monthly premiums</li>
                                <li>Covers remainder of provider bill after Medicare pays, varies depending on plan</li>
                                <li>Can be purchased anytime throughout the year</li>
                            </ul>
                        </div>
                        <div class="card-footer"><%= link_to more_info, pages_contact_path, class: "btn btn-primary" %></a></div>
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body">
                            <h2 class="card-title">Why can medicare Advantage (MA) Plans be a good option?</h2>
                            <p class="card-text">A: MA plans combine Mediacare Part A and Part B benefits.  Most plans include coverage for prescription drugs.  Many plans have low or no monthly premium, along with benefits not covered by Medicare</p>
                        </div>
                        <div class="card-footer"><%= link_to more_info, pages_contact_path, class: "btn btn-primary" %></a></div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Bootstrap core JS-->
       
        <!-- Core theme JS-->
        
    </body>
</html>
